.gallery-title-overlay {
  position: relative;
  background: black;
  .image-overlay {
    object-fit: cover;
    opacity: 0.4;
  }
  .title {
    display: inline;
    font-size: em(28);
    font-weight: 700;
    line-height: 1.25;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
  }
}

.gallery-title {
}

// position: relative;

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: em(24);
  margin: 1em;

  .pagination-btn {
    font-size: em(50);
    text-align: center;
    display: flex;
    border: none;
    background-color: rgb(0, 145, 255);
    color: white;
    border-radius: 10px;
  }
}

.react-aspect-ratio-placeholder {
  position: relative;
  .resolution {
    background-color: rgba(0, 0, 0, 0.483);
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;

    transition: all 0.1s;
    z-index: 1;
  }
  &:hover .resolution {
    opacity: 1;
  }
}
