@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,800&display=swap");
@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes modal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes square1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes square2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes square3 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes square4 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "poppins", "roboto", sans-serif;
}

#root {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

.gallery {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 10% auto 20%;
}

.header {
  grid-column: 1/13;
  grid-row: 1/2;
}

.filter_container {
  grid-column: 4/10;
  grid-row: 2/3;
}

.photo_grid {
  grid-column: 1/13;
  grid-row: 3/4;
  justify-self: center;
  margin: 1em;
}

.loading-container {
  grid-column: 1/13;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-column: 1/13;
  grid-row: 4/5;
}

.lightbox-container {
  background-color: rgba(0, 0, 0, 0.644);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.lightbox-container .lightbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  width: 100%;
  background-color: black;
}

.header {
  background: #1890ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 50%;
  font-size: 2.25em;
  font-weight: 800;
}
.header .logo .snap-logo {
  margin: 1em;
}
.header .logo-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: space-around;
}
.header .download-app {
  display: none;
  background-color: #02af02;
  color: white;
  border: none;
}
.header .settings {
  display: none;
  background-color: rgba(197, 27, 27, 0);
  color: white;
  grid-column: 2/3;
}

.settings:hover {
  color: #e9e9e9;
}
.settings:hover svg {
  animation: spin 1s ease-in-out;
}

.footer {
  background: #001529;
  color: white;
  display: flex;
  padding: 1em;
}
.footer .footer-section {
  width: 100%;
}
.footer svg {
  font-size: 1.5em;
  vertical-align: middle;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footerLeft .footer-title {
  font-weight: 800;
  font-size: 2.25em;
}
.footerLeft .builtIcon {
  font-size: 1.5em;
}
.footerLeft .builtIcon span,
.footerLeft .builtIcon svg {
  vertical-align: middle;
}

.footerMid {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footerMid a {
  text-decoration: none;
  color: white;
}
.footerMid .backtop {
  font-size: 1em;
  border: none;
  background-color: #000d1a;
  border-radius: 15px;
  padding: 0.5em 1em;
}
.footerMid .social span,
.footerMid .social svg {
  vertical-align: middle;
}

.footerRight {
  text-align: center;
  align-self: center;
  font-size: 1.5em;
}
.footerRight a {
  color: white;
  text-decoration: none;
}
.footerRight a,
.footerRight svg {
  vertical-align: middle;
}

.filter_container {
  display: flex;
  justify-content: space-around;
  height: 80%;
  align-self: center;
}

.photo_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
}

.grid {
  aspect-ratio: 16/9 auto;
}
.grid img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.grid img:hover {
  box-shadow: none;
}

.btn {
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0em 2em;
  border: none;
  border-radius: 15px;
}
.btn span,
.btn svg {
  vertical-align: middle;
}

.img-box {
  grid-column: 1/4;
  grid-row: 1/4;
}
.img-box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.box-info {
  color: white;
  background-color: #272727;
  grid-column: 4/5;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box-info .close {
  font-size: 1.125em;
  align-self: flex-end;
  padding: 0.4em 0.8em;
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 0px 0px 0px 10px;
}

.img-title {
  height: 20%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.img-title .name {
  font-size: 1.125em;
  font-weight: 800;
}
.img-title .author {
  font-size: 1.125em;
}

.set-as {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}
.set-as .set {
  font-size: 1em;
  padding: 0.5em 2em;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 10px;
}

#Squares {
  fill: #1890ff;
  stroke: #1890ff;
}

#square1 {
  animation-name: square1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#square2 {
  animation-name: square2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#square3 {
  animation-name: square3;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#square4 {
  animation-name: square4;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.svg-container {
  align-self: center;
  width: 15%;
}

.loading-text {
  font-weight: 600;
  font-size: 1.5em;
  z-index: 0;
}

.loading-logo {
  width: 100%;
  height: auto;
  animation: 1s linear 1s infinite spin;
}
