@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
    opacity: 0.2;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes square1 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes square2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes square3 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes square4 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes hero {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
