$headerColour: #195f9f;
$FooterColour: #001529;
$dullFooter: #000d1a;
$primaryBlue: #004293;
$redBtn: #ff0000;
$squares: #2086e4;
$s_logo: white;
$main_gradient: linear-gradient(
  45deg,
  rgb(0, 248, 136),
  rgb(0, 255, 208),
  rgb(0, 199, 254),
  rgb(131, 58, 180),
  rgb(253, 29, 29),
  rgb(252, 176, 69)
);
