.filter_container {
  display: flex;
  justify-content: center;
  align-self: center;

  .filter-btn {
    font-size: em(24);
    font-weight: 300;
    padding: 0.5em 2em;
    margin: 0em 4em;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
    border-radius: 15px;

    &:hover {
      background: linear-gradient(
        151deg,
        rgba(8, 56, 212, 1) 0%,
        rgba(44, 215, 185, 1) 100%
      );
      color: white;
    }
  }
}
