.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .footer-title {
    font: {
      weight: 800;
      size: em(36);
    }
  }

  .builtIcon {
    font-size: em(24);
    span,
    svg {
      vertical-align: middle;
    }
  }
}
