.header {
  //background: $primaryBlue;
  //color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 7.5vh;
  width: 100%;
  padding: 1em 0em;
  border-bottom: 0.063em rgb(227, 227, 227) solid;

  .logo {
    width: 50%;
    font-size: em(16);
    font-weight: 800;

    .snap-logo {
      margin: 1em;
      background-image: linear-gradient(
        45deg,
        rgb(0, 248, 136),
        rgb(0, 255, 208),
        rgb(0, 199, 254),
        rgb(131, 58, 180),
        rgb(253, 29, 29),
        rgb(252, 176, 69)
      );
      background-size: 400%;
      background-clip: text;
      color: transparent;
      animation: bg-animation 25s ease-in-out infinite;
    }
  }

  .navlink {
    color: black;
  }

  .dropdown {
    width: 45ch;
    margin: 0em 1em;
  }

  .dropdown-label {
    display: flex;
    align-items: center;

    .dropdown-label-text {
      margin-left: 1em;
    }
  }

  .subreddit-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
}
