.footer {
  background: $FooterColour;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  height: 10vh;

  .footer-section {
    width: 100%;
  }

  svg {
    font-size: em(24);
    vertical-align: middle;
  }
}
