.photo_grid {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  div:last-child {
    flex-grow: 10;
  }
}

@include desktop() {
  .photo_grid {
    gap: 10px;
    margin: 1em;
  }
}
