//div that contains react app
// #root {
//   height: 100%;
// }

.page-body {
  height: 92.5vh;
  // display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  display: flex;
  flex-direction: column;

  // grid-template-rows: auto min-content;
  // grid-template-areas:
  //   "content"
  //   "footer";
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.footer {
  grid-area: footer;
}

// .loading-container {
//   grid-column: 1/13;
//   grid-row: 2/4;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
